:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

 
body {
  margin: 0;
  
  min-width: 320px;
  min-height: 100vh;
}

/* App.css */

.page-container {
 
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.centered-div {
 
 
 
  width: 50%;
  height: 100%;
 
 
  font-family: Arial;
}
.tuberheadingdiv{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: black;
}
.tuberheadingdiv img{
  height: 40px;
  padding: 10px 30px;

}
 

 
 .mainholder{
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: row;
 
 }
 .orange-text {
  color: #EF4D24;
}
.MainheadingInRequirments{
  color: black;
  font-size: 17px;
  font-weight: 900;
}
.left-side {
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg,rgba(241, 222, 186, 0.078), rgba(255, 166, 0, 0.250));
  display: flex;
  padding-left: 50px;
  padding-top: 75px;
  flex-direction: column;
  align-items: flex-start;
}
.final-image-left-side {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.final-image-left-side img {
  width: 100%;  
  height: 100%; 
  object-fit: cover; 
  padding-left: ;
}

 .spantags{
  color: black;
  font-size: 30px;
  font-weight: bold;
 }
 .requiremntsspan{
  color: black;
  font-size: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
 
 }
 .headingHolderInIndex2{
  margin-top: 35px;
  display: flex;
 
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
 }
 .spanTagsHolder{
  margin-top: 15px;
  display: flex;
 
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
 }
 .corerctIcon{
  width: 20px;
  height: 20px;
  position: relative;
 top: 4px;
 margin-right: 7px;
}
.textWithImageIcons{
  font-weight: 800;
  font-size: 14px;
  margin-top:7px;
  margin-top: 7px;
}
.diliverDriverText{
  position: relative;
  top: 22px;
}
.GooglePalyStoreDivHolder{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.GooglePalyStoreDivHolder span{
  color: black;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
}
.GooglePalyStoreDivHolder div{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
}
.GooglePalyStoreDivHolder div img{
  height: 45px;
  border-radius: 5px;
  margin-right: 10px;
}
 .normelText {
  position: relative;
  padding-left: 20px;  
  display: block;
  font-weight: 700;
  margin-bottom: 10px;  

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;  
    height: 10px;  
    background-color: #EF4D24;
    border-radius: 50%;  
  }
}

.formholder{
  width: 100%;
height: 100%;
 
display: flex;
 justify-content: center;
flex-direction: column;
 
}
.formholder{
  width: 80%;
  margin: 0 auto;
 
}
.infoholder{
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  flex-direction: column;
}
.inputfields {
  border: none;  
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
 
  background-color: #7979790b;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.11);  
}


 .container{
  margin: 10px;
 }
 .OTPtextHolder{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2px;
  margin-top: 22px;
 }
 .OTPtextHolder span{
 
  font-weight: 700;
 }
.otpPhoneNumber{
  color: #EF4D24;
}
.phoneInputRow {
  display: flex;
  
  margin: 0 auto;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
 
}
.OTPnumberHolder{
  width: 100%;
 
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.OTPnumberFields::-webkit-inner-spin-button,
.OTPnumberFields::-webkit-outer-spin-button {
  appearance: none;
  margin: 0; /* Some margin may be needed to prevent overlap */
}
 

.OTPnumberHolder input{
 height: 50px;
 margin-right: 10px;
 -moz-appearance: textfield;
 text-align: center;
 width: 50px;
 border-radius: 10px;
 font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

.resentTextHolder{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 40px;
}
.phoneInputField {
  width: 100%;
  border-radius: 10px;
  padding: 15px 55px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.11); 
  
}

 
 

 
.titileholder{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.craeetpasswordholder{
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.createaccounttitle{
  font-size: 17px;
   text-transform: uppercase;
   padding-left: 5px;
   font-weight: bold;
 
  
}
.createPasswordText{
  font-size: 13px;
 
  padding-left: 5px;
  font-weight: bold;
}
.stepsindicaterholder{
  display: flex;
  justify-self: flex-start;
  padding-left: 5px;
  padding-top: 30px;
}
.stepsindicaterholder > span{
  font-weight: bold;
  color: #EF4D24;
  margin-bottom: 10px;
}
.stepsDivsIndicater{
  display: flex;
 
  justify-content: flex-start;
}

.colorStepsIndicater1{
  width: 20%;
  background-color:  #ef4d243f;
  height: 7px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater2{
  width: 20%;
  background-color:  #ef4d243f;
  height: 7px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater3{
  width: 20%;
  background-color:  #ef4d243f;
  height: 7px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater4{
  width: 20%;
  background-color: #ef4d243f;
  height: 7px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater5{
  width: 20%;
  background-color:  #ef4d243f;
  height: 7px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}


.NextcolorStepsIndicater{
  width: 20%;
  background-color: #ef4d243f;
  height: 10px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.active {
  background-color: #EF4D24;
}

.checkboxholder{
 
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
.checkbox{
  cursor: pointer;
  color: red;
}
.buttonholder{
  width: 100%;
 
  display: flex;
  flex-direction: row;
 
  justify-content: center;
  align-items: center;
}
.finalbuttonholder{
  width: 100%;
 
 
  display: flex;
  flex-direction: row;
 
  justify-content: center;
  align-items: center;
}
.nextbtn {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px 10px;
  margin: 12px;
  display: block;
  background-image: linear-gradient(45deg,  #EF4D24, #efa824);
}
.finalnextbtn{
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px 10px;
 margin-right: 10px;
  display: block;
  background-image: linear-gradient(45deg,  #EF4D24, #efa824);
}
.backbtn{
  width: 50%;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.171);
  border: none;
  cursor: pointer;
  padding: 14px 10px;
  border-radius: 10px;
}
.finalFAQsbtn{
  width: 90%;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 55px;
  background-color: rgba(128, 128, 128, 0.171);
  border: 1px solid rgba(0, 0, 0, 0.201);
  cursor: pointer;
  padding: 14px 10px;
  border-radius: 10px;
}
 

.answerHolder {
  max-height: 0;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0;
}

.open {
 
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: 100px; /* Adjust this value based on your content height */
  padding-left: 5px; /* Add padding to create spacing between content */
}

.faq-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
 
}
.question{
  display: block;
  width: 100%;
  text-align: left;
 
}
.alreadyHaveAccount{
  font-weight: 700;
  font-size: 13px;
  position: relative;
  bottom: 10px;
  color: rgb(76, 76, 76);
  
}
.signLink{
  color: #EF4D24;
  text-decoration: none;
  cursor: pointer;
  padding-left: 2px;
}
.signLink:hover{
  color:#EF4D24;
  
}
.titileHolderStep2{
 padding-left: 15px;
 display: flex;
 
 justify-content: flex-start;
}

.section1 {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.section1 input {
  flex: 1; /* This makes the inputs share equal width */
}
.section2 {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.section2 select {
  flex: 1; /* This makes the selects share equal width */
}


.mainWrapper{
  display: flex;
 
  flex-direction: column;
}
.mainOutHolders {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px;
  margin-bottom: 20px;  
  border-bottom: 1px solid rgba(0, 0, 0, 0.181);
}

.innerText{
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.mainOutHolderssub {
  display: flex;
 
  padding: 10px;
  margin-bottom: 20px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.181);

 
}
 
.left-content {
  font-size: 15px;
}

.fileInputContainersub {
  margin-left: auto;
  width: 18%;
 
}



.fileInputContainer {
  width: 30%;
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}


 


.mainOutHolderssub {
  display: flex;
  flex-direction: row;
  align-items: center;
 
  padding: 10px;
}

.left-content {
  font-size: 15px;
}

.fileInputContainersub {
  margin-left: auto;
  display: flex;
  align-items: center;
}


.uploadLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  margin-right: 20px;
  cursor: pointer;
}

.uploadLabel span {
 
 font-size: 12px;
 width: 100%;
 border-radius: 20px;
 padding: 5px 15px;
 border: 1px solid orange;
 color: red;
}

.uploadFrontImage,
.uploadBackImage {
  display: none; /* Hide the default file input appearance */
}

.finalPageHolderDiv{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,rgba(241, 222, 186, 0.078), rgba(255, 166, 0, 0.250));
 
}
.contentHolderDiv{
  display: flex;

  padding-left: 60px;
  position: relative;
  padding-right: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
 padding-top: 50px;
 text-align: left;
}

.contentHolderDiv span{
  color: rgba(0, 0, 0, 0.771);
  font-weight: 800;
  
}
.contentHolderDiv h2{
   color: black;
   font-size: 25px;
   font-weight: 600;
}
.contentHolderDiv img{
  position: relative;
  bottom: 20px;
  height: 50px;
}
.contentHolderDiv p{
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.appIconsHolders{
  margin-top: 20px;
}
 .tudentManImage{
  height: 550px;
 }
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
