:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

 
body {
  margin: 0;
  
  min-width: 320px;
  min-height: 100vh;
}

/* App.css */

.page-container {
 
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.centered-div {
  background: red;
  border: 1px solid black;
 
  width: 50%;
  height: 100%;
 
 
  font-family: Arial;
}
.tuberheadingdiv{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: black;
}
.nametuber{
  color: orange;
  font-size: 20px;
  margin: 10px;
}

 
 .mainholder{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: row;
 
 }
 .left-side{
 
  width: 50%;
  height: 100%;
  background-color: rgb(101, 205, 3);
  display: flex;
 padding-left: 70px;
 
  flex-direction: column;
   align-items: flex-start;
 }

 .spantags{
  color: black;
  font-size: 30px;
  font-weight: bold;
 }
 .requiremntsspan{
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
 }
.formholder{
  width: 100%;
height: 100%;
display: flex;
 justify-content: center;
flex-direction: column;
  background-color: #f9f9f9;
}
.infoholder{
  display: flex;
  
  align-items: flex-start;
  flex-direction: column;
}
.inputfields{
 
  border: 1xp solid rgba(0, 0, 0, 0.127);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  background-color: #24242410;

} 
.titileholder{
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
.createaccounttitle{
  font-size: 30px;
 
  
}
.stepsindicaterholder{
  display: flex;
  justify-self: flex-start;
  padding-left: 15px;
  padding-top: 30px;
}
.stepsDivsIndicater{
  display: flex;
 
  justify-content: flex-start;
}

.colorStepsIndicater1{
  width: 20%;
  background-color: rgba(255, 166, 0, 0.326);
  height: 10px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater2{
  width: 20%;
  background-color: rgba(255, 166, 0, 0.326);
  height: 10px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater3{
  width: 20%;
  background-color: rgba(255, 166, 0, 0.326);
  height: 10px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater4{
  width: 20%;
  background-color: rgba(255, 166, 0, 0.326);
  height: 10px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.colorStepsIndicater5{
  width: 20%;
  background-color: rgba(255, 166, 0, 0.326);
  height: 10px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}

.NextcolorStepsIndicater{
  width: 20%;
  background-color: rgba(255, 166, 0, 0.966);
  height: 10px;
  border-radius: 10px;
   margin-left: 5px;
   margin-left: 5px;
}
.active {
  background-color: rgba(255, 166, 0, 0.966);
}

.checkboxholder{
 
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
.checkbox{
  cursor: pointer;
}
.buttonholder{
  width: 100%;
 
  display: flex;
  flex-direction: row;
 
  justify-content: center;
  align-items: center;
}
.nextbtn{
  width: 100%;
  color: red;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
   margin: 12px;
  display: block;
  background-color: aliceblue;
}


.titileHolderStep2{
 padding-left: 15px;
 display: flex;
 
 justify-content: flex-start;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
